annotated-types==0.5.0
anyio==3.7.1
autometrics==0.8
click==8.1.6
Deprecated==1.2.14
fastapi==0.101.0
h11==0.14.0
idna==3.4
importlib-metadata==6.8.0
opentelemetry-api==1.19.0
opentelemetry-exporter-prometheus==1.12.0rc1
opentelemetry-sdk==1.19.0
opentelemetry-semantic-conventions==0.40b0
prometheus-client==0.17.1
pydantic==2.1.1
pydantic_core==2.4.0
python-dotenv==1.0.0
sniffio==1.3.0
starlette==0.27.0
typing_extensions==4.7.1
uvicorn==0.23.2
wrapt==1.15.0
zipp==3.16.2
